*{
    transition: 1s all;
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }
  

html,
body{
    box-sizing: border-box; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e7f2f4 25%, #d1d1ec);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    color: #3b3b3b;
    scrollbar-width: none;
}

input{
    outline: none;
}
.container {
    perspective: 1000px;
    margin: auto;
    width: 300px;
    height: 400px;   
    text-align: center; 
}
.container-startup {
    perspective: 1000px;
    margin: auto;
    width: 300px;
    height: 400px;   
    text-align: center; 
}

.body-startup{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
}
.ataraxia-startup {
    margin: 1em;
    font-size: 3em;
    letter-spacing: 0.5em;
    font-family: "Cinzel Decorative", serif;
    font-style: normal;
    font-weight: 600;
}

.card {
    text-align: center;
    width: 300px;
    height: 400px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* Allows children to be 3D transformed */
}
.startup-title{
    font-size: 1.7em;
}
.card.flipped {
    transform: rotateY(180deg); /* Flips the card */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back when facing away */
}

.front {
    background: linear-gradient(-135deg, #74b9b700 2%, #333333);
    backdrop-filter: blur(3px); 
    border-radius: 20px;
    z-index: 2; 
}

.back {
    margin: auto;
    background: linear-gradient(135deg, #74b9b700 2%, #333333);
    backdrop-filter: blur(3px); 
    border-radius: 20px;
    transform: rotateY(180deg);
}

.form{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    height: 150px;
    width: 250px;
    gap: 10px;
}

.textform{
    height: 1.8em;
    text-indent: 1em;
    border-radius: 5px;
    font-size: 0.9em;
    border: none;
    color: rgb(23, 22, 22);
    border-bottom: solid 1px rgb(16, 16, 16);
    background-color: transparent;
}

.textform::placeholder{
    color: rgb(46, 49, 53);
}

.textform:focus-visible{
    outline: none;
    border-bottom: solid 1px rgb(208, 158, 240);

}

[class^='submit']{
    position: relative;
    bottom: -8em;
    height: 40px;
    color: rgb(217, 217, 236);
    border: none;
    border-radius: 20px;
    background-color: rgba(79, 78, 86, 0.819);
}

.submit-2{
    bottom: -10em;
}

.submit:disabled{
    filter: contrast(0.5);
    filter: saturation(0);
    transition: background 3s ease;
}

/* .submit:focus{
    background-image: linear-gradient(-10deg, #404258 50%, #6B728E 50%);
    animation: move 1s ease-in-out infinite ;
}

@keyframes move {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
} */

.flip{
    font-size: 11pt;
    padding: 8px;
    width: 120px;
    margin-top: 2px;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(173, 188, 180);
    border: none;
}

.flip:hover{
    background-color: rgba(183, 199, 197, 0.145)
}
.pfp-s{
    height: 80px;
    width: 80px;
    border-radius: 100px;
}
[class^="btn-"]{
    border-radius: 10px;
    height: 3em;
    background-color: rgba(136, 137, 138, 0.404);
    outline: none; 
    cursor: pointer;
}

.btn-menu{
    position: relative;
}

.blur{
    filter: blur(5px);
} 
.invisible{
  display: none;
  height: inherit;
  width: inherit;
}


.progress-bar {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 5px;
    background: linear-gradient(50deg, #ac96e3 10%, #0e31209c, #aefac175 90%);
    animation: progress 2s ease-in-out infinite;
  }
  
  @keyframes progress {
    0% {
      width: 0%;
      transform: translateX(-50%) scaleX(1); 
    }
    25% {
      width: 30%;
      transform: translateX(-50%) scaleX(1.5);
    }
    50% {
      width: 50%;
      transform: translateX(-50%) scaleX(0.8); 
    }
    75% {
      width: 70%;
      transform: translateX(-50%) scaleX(1.5); 
    }
    100% {
      width: 90%;
      transform: translateX(-50%) scaleX(1); 
    }
  }
  
  @keyframes alertSlideIn {
    0% { top: -50px; opacity: 0; }
    100% { top: 0px; opacity: 1; }
  }
  
  @keyframes alertSlideOut {
    0% { top: 0; opacity: 1; }
    100% { top: -50px; opacity: 0; }
  }
  
  .alert-message {
    position: fixed;
    display: flex;
    align-items: center;
    
    height: 4em;
    width: 80%;
    max-width: 400px;
    z-index: 9999;
    
    padding: 10px 20px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    background: linear-gradient(180deg, #363636, #ffffff00);
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    overflow: hidden;
    
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation: alertSlideIn 0.5s ease-out;
  }
  
  .alert-message.hidden {
    animation: alertSlideOut 0.5s ease-in forwards;
  }
  .alert-message.success {
    background-color: #93edb9;
  }
  
  .alert-message.error {
    background-color: #80363d;
  }
  
  .alert-message.warning {
    background-color: #6d4b24;
  }
  .alert-message.focusMode {
    background-color: #c55bfe;
  }
  .alert-message.timeout {
    background-color: #8bff7a;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
/* Spinner progress */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(91, 173, 151, 0.314);
    border-top: 4px solid #bb9fd4;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  